@using SignageRepository.Resources
@{
    ViewBag.Title = "Dispositivos";
}

@section styles
{
    @Styles.Render("~/Content/jqGrid")
}

@section scripts
{
    @Scripts.Render("~/bundles/jqGrid")
    <script src="~/Scripts/App/Shared/upsertCtrl.js"></script>
    <script src="~/Scripts/App/Shared/modalDlgCtrl.js"></script>
    <script src="~/Scripts/App/Shared/hiddenDrct.js"></script>
    <script src="~/Scripts/App/Device/deviceCtrl.js"></script>

    <script>
        $(document).ready(function() {
            window.upsert = function (id) {
                window.goToUrlMvcUrl('@Url.Action("Upsert", "Device", new {area = "", id = "paramId"})', { paramId: id });
            };

            window.obsolete = function(id) {
                window.showObsolete(id, "#angJsjqGridId", "@Url.Action("DoObsolete", "Device", new {area = ""})", "#GridDeviceId");
            };

            jQuery("#GridDeviceId").jqGrid({
                url: '@Url.Action("List", "Device", new {area = ""})',
                datatype: "json",
                mtype: 'POST',
                colNames: ['ID', 'HostName', 'IP', 'Pantalla', 'Fecha de creación', 'Usuario', 'Acción'],
                colModel: [
                    { name: 'DeviceId', index: 'DeviceId', hidden: true },
                    { name: 'Ip', index: 'Ip', width: 300, align: "center", sorttype: 'string', searchoptions: { sopt: ['bw'] } },
                    { name: 'HostName', index: 'HostName', width: 200, align: "center", sorttype: 'string', searchoptions: { sopt: ['bw'] } },
                    { name: 'ScreenName', index: 'ScreenName', width: 250, align: "center", search: false },
                    { name: 'DatetimeDevice', index: 'DatetimeDevice', width: 110, align: "center", search: false },
                    { name: 'UserName', index: 'UserName', width: 110, align: "center", search: false },
                    { name: 'Action', align: "center", width: 90, sortable: false, search: false }
                ],
                rowNum: 30,
                rowList: [30, 60, 90],
                pager: '#GridDevicePager',
                sortname: 'Name',
                height: 450,
                viewrecords: true,
                shrinkToFit: false,
                sortorder: "desc",
                caption: "Dispositivos",
                gridComplete: function() {
                    var ids = $(this).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var be = "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Editar canal\" onclick=\"window.upsert('" + cl + "');\"><span class=\"ui-icon ui-icon-pencil\"></span></a>";
                        be += "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Eliminar canal\" onclick=\"window.obsolete('" + cl + "');\"><span class=\"ui-icon ui-icon-trash\"></span></a>";
                        $(this).jqGrid('setRowData', ids[i], { Action: be });
                    }
                }
            });

            jQuery("#GridDeviceId").jqGrid('navGrid', '#GridDevicePager', { edit: false, add: true, del: false, search: true, addfunc: upsert });

            jQuery("#GridDeviceId").jqGrid('filterToolbar', {
                stringResult: true,
                searchOperators: true,
                searchOnEnter: true,
                multipleSearch: true,
                ignoreCase: true
            });
        });

    </script>
}

<h2 class="element-center"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;@ResDeviceRep.TITLE_PAGE_CAT</h2>

<div id="angJsjqGridId" ng-controller="modalDlgController">
    <table id="GridDeviceId" class="element-center" style="margin: auto"></table>
    <div id="GridDevicePager"></div>
    <div class="blocker" ng-show="working">
        <div>
            Cargando...<img src="~/Content/Images/ajax_loader.gif" alt="" />
        </div>
    </div>
</div>



