@using SignageRepository.Models.Constants
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="menuController">
    <div class="container">
        <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole(RolesConstants.ROLE_MANAGER))
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Media", new {area = ""})"><i class="glyphicon glyphicon-picture"></i>&nbsp;&nbsp;Medias</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Channel", new { area = "" })"><i class="glyphicon glyphicon-sd-video"></i>&nbsp;&nbsp;Canales</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Device", new { area = "" })"><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;Pantallas</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Device", new { area = "" })"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Dispositivos</a>
                        </li>
                    </ul>
                }
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>