@using SignageRepository.Resources

@{
    ViewBag.Title = "Canales";
}

@section styles
{
    @Styles.Render("~/Content/jqGrid")
}

@section scripts
{
    @Scripts.Render("~/bundles/jqGrid")
    <script src="~/Scripts/App/Shared/upsertCtrl.js"></script>
    <script src="~/Scripts/App/Shared/modalDlgCtrl.js"></script>
    <script src="~/Scripts/App/Shared/hiddenDrct.js"></script>
    <script src="~/Scripts/App/Channel/channelCtrl.js"></script>

    <script>
        $(document).ready(function() {
            window.upsert = function(id) {
                window.showUpsert(id, "#angJsjqGridId", "@Url.Action("Upsert", "Channel", new {area = ""})", "#GridChannelId");
            };

            window.obsolete = function (id) {
                window.showObsolete(id, "#angJsjqGridId", "@Url.Action("DoObsolete", "Channel", new {area = ""})", "#GridChannelId");
            };

            jQuery("#GridChannelId").jqGrid({
                url: '@Url.Action("List", "Channel", new {area = ""})',
                datatype: "json",
                mtype: 'POST',
                colNames: ['ID', 'Nombre', 'Media(s)', 'Fecha de creación', 'Usuario', 'Acción'],
                colModel: [
                    { name: 'ChannelId', index: 'ChannelId', hidden: true },
                    { name: 'Name', index: 'Name', width: 200, align: "center", sorttype: 'string', searchoptions: { sopt: ['bw'] } },
                    { name: 'LstMedias', index: 'LstMedias', width: 500, align: "center", search: false },
                    { name: 'DatetimeChannel', index: 'DatetimeChannel', width: 110, align: "center", search: false },
                    { name: 'UserName', index: 'UserName', width: 110, align: "center", search: false },
                    { name: 'Action', align: "center", width: 90, sortable: false, search: false }
                ],
                rowNum: 30,
                rowList: [30, 60, 90],
                pager: '#GridChannelPager',
                sortname: 'Name',
                height: 450,
                viewrecords: true,
                shrinkToFit: false,
                sortorder: "desc",
                caption: "Canales",
                gridComplete: function() {
                    var ids = $(this).jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        var be = "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Editar canal\" onclick=\"window.upsert('" + cl + "');\"><span class=\"ui-icon ui-icon-pencil\"></span></a>";
                        be += "<a href=\"javascript:;\" style=\"display:inline-block;\" title=\"Eliminar canal\" onclick=\"window.obsolete('" + cl + "');\"><span class=\"ui-icon ui-icon-trash\"></span></a>";
                        $(this).jqGrid('setRowData', ids[i], { Action: be });
                    }
                }
            });

            jQuery("#GridChannelId").jqGrid('navGrid', '#GridChannelPager', { edit: false, add: true, del: false, search: true, addfunc: upsert });

            jQuery("#GridChannelId").jqGrid('filterToolbar', {
                stringResult: true,
                searchOperators: true,
                searchOnEnter: true,
                multipleSearch: true,
                ignoreCase: true
            });
        });

    </script>
}

<h2 class="element-center"><i class="glyphicon glyphicon-sd-video"></i>&nbsp;&nbsp;@ResChannelRep.TITLE_PAGE_CAT</h2>

<div id="angJsjqGridId" ng-controller="modalDlgController">
    <table id="GridChannelId" class="element-center" style="margin: auto"></table>
    <div id="GridChannelPager"></div>
    <div class="blocker" ng-show="working">
        <div>
            Cargando...<img src="~/Content/Images/ajax_loader.gif" alt="" />
        </div>
    </div>
</div>



